<p style="color: green"><%= notice %></p>
<% content_for :page_title, @job.title %>
<div class="card">
  <div class="card-header">
    <h1>Edit Job</h1>
  </div>
  <div class="card-body">
    <%= render 'form', post: @job %>
  </div>
</div>

<br/>
<div>
  <%= link_to "Back", jobs_path, class: "btn btn-secondary" %>
</div>
<br/>