<p style="color: green"><%= notice %></p>
<h1>Hello!</h1>
<p>This is my New Jobs Board</p>
<%# if user_signed_in? %>
<!--  <h1 class="title">Jobs</h1>-->
<!--  <br/><br/>-->

  <%# @jobs.each do |job| %>
<!--    <div class="row">-->
<!--      <div class="card mb-3">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title"><%#= link_to job.title, job %></h5>-->
<!--          <p class="card-text"><%#= job.description %></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  <%# end %>
<!--  <br/><br/>-->

  <%#= link_to "New Job", new_job_path, class: 'btn btn-primary' %>

<%# else %>

<!--  <h1>Hello!</h1>-->
<!--  <p>This is my New Jobs Board</p>-->

<%# end %>
