<header>
  <img src="https://smocca-staging.zigexn.vn/assets/smocca/cashback/20231101/default/banner_cp760_01-732186c4f4dd31286d95194f1af2d5eb.png" alt="cashback">
</header>
<br><hr/>

<section class="d-flex flex-column bd-highlight mb-3">
  <h5>お問い合わせ内容・ご連絡先</h5>
  <br>
  <div class="flext-row">
    <span>1.入力フォームに記入</span>
    <span>  >  </span>
    <span>2.入力情報の確認</span>
    <!--    <ul>-->
    <!--      <li>-->
    <!--        <span>1.入力フォームに記入</span>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <span>2.入力情報の確認</span>-->
    <!--      </li>-->
    <!--    </ul>-->

  </div>
  <br>
  <div class="flex-row">
    <span>残り</span>
    <span>2</span>
    <span>ステップ完了でお問い合わせ！</span>
  </div>
  <br>

  <div class="flex-row">
    <span>オススメ</span>
    <span>LINEで必要項目を自動入力する</span>
  </div>
  <br>

  <div>
    <a href="https://autoline.link/smocca/apis/line_login_link?register_from=others&amp;redirect_url=https%3A%2F%2Fsmocca-staging.zigexn.vn%2Fapply%3Fglobal_keys%255B%255D%3Dz_2_1da2fd88bead89467624616417c0c301%26recommend_type%3Dbase_search_pr&amp;timetech_code=xpfonvm6" id="js-efo-line_social_login">
      <img src="https://smocca-staging.zigexn.vn/assets/smocca/pc/line_login_button-920158ae6eecf01e08ecc6b19d9688bb.png" alt="LINEでログイン">
    </a>
    <p>※LINEログインを使うと必須項目を自動入力できます</p>
  </div>
  <br>

  <div class="table">
    <table>
      <!--      1-->
      <tr>
        <td>お問い合わせ内容</td>
        <td>
          <div class="d-flex justify-content-around">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">最新の空室状況を知りたい</label><br>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">物件を実際に見たい</label><br>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">詳しく教えて欲しい</label><br>
          </div>
        </td>
      </tr>
      <!--      2-->
      <tr>
        <td>
          <div class="d-flex justify-content-between">
            <p>お名前</p>
            <p>必須</p>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-between">
            <label for="fname">姓</label>
            <input type="text" id="fname" name="fname" placeholder="例）　山田"><br><br>
            <label for="lname">名</label>
            <input type="text" id="lname" name="lname" placeholder="例）　太郎"><br><br>
          </div>
        </td>
      </tr>
      <!--      3-->
      <tr>
        <td>
          <div class="d-flex justify-content-between">
            <p>メールアドレス</p>
            <p>必須</p>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <input type="text" id="fname" name="fname" placeholder="sumai@smocca.jp(半角英数字)"><br><br>
            <label for="lname">※半角英数字のみ</label>
          </div>
          <br>
          <ul>
            <li>
              ※電話番号のみでもお問い合わせが可能です。
            </li>
            <li>
              ※ご登録いただく電話番号は、LINE株式会社が提供する「通知メッセージ」というサービスで利用される可能性がございます。
            </li>
            <li>
              ※返信メールが受信可能なメールアドレスをご入力ください。
            </li>
            <li>
              ※ドメイン指定受信をご利用の方は、設定変更をお願いします。
            </li>
            <li>※メールアドレスと電話番号の入力が無い場合は<span class="typo_color_orange_a">キャンペーン対象外</span>となります。</li>
            <br>
            <div class="mt_10">
              <label class="cb_rd01 cb_rd_s25 cb_checked_gray"><input checked="checked" name="apply[alert_mail_flag]" type="checkbox" value="1" /><span>新着物件情報、お得な情報など賃貸SMOCCA!からのメールを受け取る</span></label>
              <span class="d_block typo_color_gray_a txt_size_12 mt_10">※ご希望条件に合わせたおすすめの最新物件情報をお届けします。ぜひご登録ください。</span>
              <span>
                ※ご希望条件に合わせたおすすめの最新物件情報をお届けします。ぜひご登録ください。
              </span>
            </div>
          </ul>
          <br>
        </td>
      </tr>
      <!--      4-->
      <tr>
        <td>
          <div class="d-flex justify-content-between">
            <p>電話番号</p>
            <p>任意</p>
          </div>
        </td>
        <td>
          <div>
            <ul>
              <input autocomplete="tel" class="input01 is_required w_200px input_tel js_apply_input" id="apply_tel" name="apply[tel]" placeholder="08012345678(半角)" type="tel">
              <br>
              <li>※メールアドレスと電話番号の入力が無い場合は<span>キャンペーン対象外</span>となります。</li>
            </ul>
          </div>
        </td>
      </tr>

      <!--      5-->
      <tr>
        <td>
          <div class="d-flex justify-content-between">
            <p>備考</p>
          </div>
        </td>
        <td>
          <div>
            <ul>
              <textarea cols="10" id="apply_memo" name="apply[memo]" placeholder="記入例）13時から14時の間に連絡がほしいです。" rows="5"></textarea>
              <span>※全角100文字以内</span>
            </ul>
          </div>
        </td>
      </tr>

      <!--      6-->
      <tr>
        <td>
          <div>
            <p>キャンペーンに関するご案内</p>
            <p>任意</p>
          </div>
        </td>
        <td>
          <ul>
            <label class="cb_rd01 cb_checked_gray">
              <input checked="checked" name="apply[lead_collaboration_status]" type="checkbox" value="1">
              <span>お引越し先でのライフラインのご案内を希望する。</span>
            </label>
            <p>※ライフラインのご案内を希望された方は「ＧＭＯインターネットグループ株式会社」よりお電話又はメールにてご連絡がございます。</p>
            <p><span>ＧＭＯインターネットグループ株式会社の個人情報の取扱について</span><br>ＧＭＯインターネットグループ株式会社に提供したお客様のお名前、メールアドレス、電話番号のなどの個人情報は、ＧＭＯインターネットグループ株式会社の責任・管理のもと、お申込みまたはご説明の際のご連絡方法として利用されます。</p>
          </ul>
        </td>
      </tr>
    </table>

    <button type="button">次へ</button>
  </div>

  <div>
    <i class="fas fa-cloud"></i>
    <span>他の物件も<span>同時にお問い合わせ</span>しませんか？ チェックを入れるだけで簡単お問い合わせ !</span>
    <p>平均<span>5</span>件のお問い合わせでご希望の物件が見つかりやすくなります♪</p>
  </div>
  <br><hr>

  <div>
    <h2>お問い合わせする物件に似ている物件があります。</h2>
    <div class="d_table w_100per mb_20 ws_nowrap">
      <div class="d_table_cell v_middle">
        <div class="d_table">
          <div class="d_table_cell v_middle">
            <div class="d_table pl_15 pr_15 pt_13 pb_10 box_br8_bw5_f0 b_width_3px">
              <span class="d_table_cell v_middle pr_5"><span class="icon_price"></span></span>
              <span class="d_table_cell v_middle txt_size_15">家賃：<span class="u-color-emphasis fw_bold">4万円</span>以内</span>
            </div>
          </div>
          <div class="d_table_cell v_middle pl_15 pr_15"><span class="icon_close txt_size_18 u-color-ccc"></span></div>
          <div class="d_table_cell v_middle">
            <div class="d_table pl_15 pr_15 pt_13 pb_10 box_br8_bw5_f0 b_width_3px">
              <span class="d_table_cell v_middle pr_5"><span class="icon_house"></span></span>
              <span class="d_table_cell v_middle pt_1">間取り：1R、1K、1DKなど</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d_table_cell v_middle pl_10 w_100per">
        <p class="f_left txt_size_16 letter_0 fw_bold">のオススメ物件をご用意しました！</p>
      </div>
    </div>
    <button type="button">次へ</button>
  </div>
  <br><hr/>

  <div>
    <i class="fas fa-cloud"></i>
    <span>お問い合わせ物件・不動産会社</span>
    <p>以下の物件をお問い合わせいたします。問い合わせ先は<span>チェックの入っている取扱会社</span>です。</p>
  </div>
  <br><hr>

  <div>
    <div>
      <a href="https://smocca-staging.zigexn.vn/specific/terms" rel="nofollow" target="_blank" class="btn_link01">利用規約</a>および<a href="https://smocca-staging.zigexn.vn/specific/privacy" rel="nofollow" class="btn_link01" target="_blank">個人情報の取扱いについて</a>をご確認・ご同意の上、お問い合わせを継続してください。<br>
      メールアドレスと電話番号の入力が無い場合は<span class="typo_color_orange_a">キャンペーン対象外</span>となります。
    </div>

    <br>

    <p class="mt_20 mb_20">お問い合わせ内容がよろしければ、下部の「送信する」ボタンで問い合わせが完了します。</p>

    <br>
    <button type="button">お問い合わせ内容を送信する</button>
  </div>

</section>
<br><hr>

<footer>
  <div>
    <h3>個人情報取り扱いにつきまして</h3>
    <div>
      <div><img src="https://smocca-staging.zigexn.vn/assets/common/privacy_mark-4b33b464643e4a7090ce20bdcae048f4.png" alt="たいせつにします プライバシー" width="70"></div>
      <div>
        株式会社じげんはプライバシーマークを取得しています。
      </div>
    </div>
  </div>
  <img src="https://smocca-staging.zigexn.vn/assets/smocca/cashback/20231101/default/banner_cp760_01-732186c4f4dd31286d95194f1af2d5eb.png" alt="cashback">
</footer>

