<h1>Welcome to <%= Rails.application.class.module_parent_name %>!</h1>
<p class="lead">Use this document as a way to quickly start any new project by generating files, installing gems, and more. </p>
